<%- include('partials/header') %>
<div id="dog-adoption">
	<div id="left-box">
		<svg class="left-box_i">
			<rect id="left-box_i" rx="10" ry="10" x="0" y="0" width="530" height="799">
			</rect>
		</svg>
		<div id="post-title">
			<span>Adopting a Dog, for the first time?</span>
		</div>
		<div id="body-top">
			<span>So, finally you have decided to extend your family by welcoming a fur-baby. Hours of hard work of convincing your Mom/Dad or your life-partner has finally produced results that you like, but now you're thinking how it will happen. There will be questions in your mind about what will be the best place to find the perfect partner, and more importantly, how should you treat the fur-baby so that you develop the kind of friendship that you are looking for.</span>
		</div>
		<img id="dog-image1" src="img/dog-blog-1.jpg">
		<img id="dog-image2" src="img/dog-blog-2.jpg">
		<img id="dog-image3" src="img/dog-blog-3.jpg">
		<div id="body-bottom">
			<span>The Decision to engage in a full-time responsibility becomes easier with proper planning and proper knowledge. These four legged babies are the best humans can deserve, but as a guardian you need to have answers to few questions to develop the kind of bond which is fruitful to both of you.
				<br> <br>How can you be the best buddies? What you should call him? How will you make him understand your sing-language?
				Where will you find all the medicines? Where will you find all the cute dog products?, and there is an endless list of questions that are running in your mind.

			<br><br>Well, we have answers for almost all of them, and answers to the questions that are currently not coming in your mind, but our experienced team did all the research to help you in Adoption and Dog Care.

		</span>
		</div>
	</div>
	<div id="right-box">
		<svg class="white-box">
			<rect id="white-box" rx="10" ry="10" x="0" y="0" width="530" height="799">
			</rect>
		</svg>
		<div id="post-title_r">
			<span>Top 10 things to know before Dog Adoption</span>
		</div>
		<div id="body-top_s">
		<p>Decision should not be made in a Go, Take <strong>Time to plan</strong> everything before taking the responsibility, because owning a dog is a full-time commitment.</p>
<p>All dogs are special, so <strong>don&apos;t discriminate</strong>. Although, be sure of your choices to select. You can buy a dog from a Shelter, or adopt.</p>
<p>Dogs need care that sometimes cost your <strong>few bucks</strong>. So make sure, that you&apos;ve proper planning as you might need to spend money on regular vet visits, dog food, grooming, toys, &nbsp;... and the list goes on.</p>
<p>It&apos;s good to have a <strong>dog tag</strong> that have your dog&apos;s name and two contact numbers of your family members, so in case if they get lost, someone out there can reach out to you.</p>
<p><strong>Dental health</strong> is very important for your fur-baby. Another, important thing is to <strong>trim nails</strong> of your Dog regularly. Big nails hurt them as well as becomes an extry point to affect their nervous system.</p>
<p>Some pups need professional <strong>grooming</strong>, so decide the best place where you can take your pup to get hair-dressed. </p>
<p>Be very particular about what your dog <strong>eats</strong>. Refrain from giving <strong>Chocolates&nbsp;</strong>- and that&apos;s not all. Most of the food items, liked by us, is harmful to a dog.</p>
<p>It&apos;s important to <strong>Pup-proof</strong> your home. Hide dangerous items like chemicals, electrical wirings, sharp objects. Keep your important items like Cushion, papers, and other related stuff away from their reach.</p>
<p>This is no-brainer but we heard stories of owners not taking their dogs for a walk. Your dog needs an open areas to <strong>run, play and jump</strong>. Also, it helps in strengthing your bond.</p>
<p>This is the most important one, <strong>Train your dogs</strong>. Set rules and boundaries, it&apos;s important to guide your puppies. Dogs can&rsquo;t possibly know how you want them to behave until you and your family teach them. Also, don&apos;t lock them or cage them, and don&apos;t leave them alone (atleast not for a long duration)</p>
		</div>
	</div>
</div>

<%- include('partials/footer') %>
