<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>PawBeing</title>

   <!-- Favicon -->
   <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">

 <!-- stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/login.css">



<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/f8709f5bc8.js" crossorigin="anonymous"></script>

</head>

  <body>
    <div id="Web_1280__1">
  	<div id="horizontal-group">
       <div id="Horizontal-big-box">
         <div id="logo">
           <span>PawBeing</span>
         </div>
         <div class="logo-text">
           <p>A Trusted Community loved by Dog Owners.</p>
         </div>
           <div class="download-btn-row">
             <button class="btn btn-md btn-dark Download-btn"  type="button"><i class="fab fa-apple"></i> Download</button>
             <button class="btn btn-md btn-outline-light" type="button"><i class="fab fa-google-play"></i> Download</button>
         </div>
       </div>

  	</div>
    <div id="register-win">
    	<div id="Login-group">
    		<svg class="Login-big-box">
    			<rect id="Login-big-box" rx="10" ry="10" x="0" y="0" width="401" height="489">
    			</rect>
    		</svg>
    		<div id="LOGIN">
    			<span>LOGIN</span>
    		</div>
        <form action="/login" method="post">
           <input type="email" class="loginnamebox" name="username" placeholder="Email">
      	   <input type="password" class="Passwordbox" name="password" placeholder="Password">
           <button type="submit"  class="Login-btn" name="button">Login</button>
        </form>
        <div id="Forgot_Password">
			<span>Forgot Password?</span>
		</div>
		<div id="Or_Login_with">
			<span>Or Login with:</span>
		</div>
<div id="login-icons">
        <!-- <a href="/auth/fb" class="Icon_awesome-google">
         <i class="fa fa-facebook fa-fw"></i>
        </a>
        <a href="/auth/google" class="Icon_simple-facebook">
          <i class="fa fa-google fa-fw"></i>
       </a> -->
       <svg class="Icon_awesome-google" viewBox="0 0.563 34.313 34.875">
				<path id="Icon_awesome-google" d="M 34.3125 18.40781211853027 C 34.3125 28.35703086853027 27.49921798706055 35.4375 17.4375 35.4375 C 7.790625095367432 35.4375 0 27.64687538146973 0 18 C 0 8.353124618530273 7.790625095367432 0.5625 17.4375 0.5625 C 22.13437461853027 0.5625 26.0859375 2.28515625 29.13046836853027 5.125781059265137 L 24.38437461853027 9.689062118530273 C 18.17578125 3.698437452316284 6.630468845367432 8.198437690734863 6.630468845367432 18 C 6.630468845367432 24.08203125 11.48906326293945 29.01093673706055 17.4375 29.01093673706055 C 24.34218788146973 29.01093673706055 26.9296875 24.06093597412109 27.33749961853027 21.49452972412109 L 17.4375 21.49452972412109 L 17.4375 15.49687385559082 L 34.03828048706055 15.49687385559082 C 34.20000076293945 16.38984298706055 34.3125 17.24765586853027 34.3125 18.40781211853027 Z">
				</path>
			</svg>
			<svg class="Icon_simple-facebook" viewBox="0 0 35.997 35.779">
				<path id="Icon_simple-facebook" d="M 35.99715042114258 17.99864959716797 C 35.99715042114258 8.058239936828613 27.93899917602539 0 17.99864959716797 0 C 8.058239936828613 0 0 8.058239936828613 0 17.99864959716797 C 0 26.9822998046875 6.58183479309082 34.42829895019531 15.18630027770996 35.77859878540039 L 15.18630027770996 23.20140075683594 L 10.61637020111084 23.20140075683594 L 10.61637020111084 17.99864959716797 L 15.18630027770996 17.99864959716797 L 15.18630027770996 14.03329467773438 C 15.18630027770996 9.522390365600586 17.87339973449707 7.030710220336914 21.98460006713867 7.030710220336914 C 23.95380020141602 7.030710220336914 26.01359939575195 7.382235050201416 26.01359939575195 7.382235050201416 L 26.01359939575195 11.81158542633057 L 23.74410057067871 11.81158542633057 C 21.50819969177246 11.81158542633057 20.81085014343262 13.19899463653564 20.81085014343262 14.62236022949219 L 20.81085014343262 17.99864959716797 L 25.80270004272461 17.99864959716797 L 25.00469970703125 23.20140075683594 L 20.81085014343262 23.20140075683594 L 20.81085014343262 35.77859878540039 C 29.41544914245605 34.42829895019531 35.99715042114258 26.9822998046875 35.99715042114258 17.99864959716797 Z">
				</path>
			</svg>
       </div>

       <div id="signup">
     <span>Don't have an account, </span><span style="text-decoration:underline;"><a href="/register">Sign Up</a></span>
   </div>
    	</div>
</div>


 </body>
