<%- include('partials/header') %>

<div id="user-personal-profile">
	<div id="user-info-left-group">
		<svg class="user-profile-white-left-box">
			<rect id="user-profile-white-left-box" rx="10" ry="10" x="0" y="0" width="770" height="664">
			</rect>
		</svg>
		<svg class="user-profile-grey-box">
			<rect id="user-profile-grey-box" rx="10" ry="10" x="0" y="0" width="770" height="568">
			</rect>
		</svg>
		<div id="CONTACT_INFORMATION">
			<span>CONTACT INFORMATION</span>
		</div>
		<div id="user-info-row2">
			<div id="username-group">
				<div id="Gender">
					<span>Gender</span>
				</div>
				<svg class="username-box">
					<rect id="username-box" rx="5" ry="5" x="0" y="0" width="235" height="35">
					</rect>
				</svg>
			</div>
			<div id="email-group">
				<div id="Email_Address">
					<span>Email Address</span>
				</div>
				<svg class="email-box">
					<rect id="email-box" rx="5" ry="5" x="0" y="0" width="235" height="35">
					</rect>
				</svg>
			</div>
		</div>
		<div id="user-info-row1">
			<div id="firstname-group">
				<div id="firstname">
					<span>First name</span>
				</div>
				<svg class="firstname-box">
					<rect id="firstname-box" rx="5" ry="5" x="0" y="0" width="235" height="35">
					</rect>
				</svg>
			</div>
			<div id="lastname-group">
				<div id="lastname">
					<span>Last name</span><br>
				</div>
				<svg class="lastname-box">
					<rect id="lastname-box" rx="5" ry="5" x="0" y="0" width="235" height="35">
					</rect>
				</svg>
			</div>
		</div>
		<svg class="user-info-separator" viewBox="0 0 636 1">
			<path id="user-info-separator" d="M 0 0 L 636 0">
			</path>
		</svg>
		<div id="USER_INFORMATION">
			<span>USER INFORMATION</span>
		</div>
		<div id="contact-info-row1">
			<div id="address-group">
				<div id="address">
					<span>Address</span>
				</div>
				<svg class="address-box">
					<rect id="address-box" rx="5" ry="5" x="0" y="0" width="570" height="35">
					</rect>
				</svg>
			</div>
		</div>
		<div id="contact-info-row2">
			<div id="contact-state-group">
				<div id="contact-state">
					<span>State</span>
				</div>
				<svg class="contact-state-box">
					<rect id="contact-state-box" rx="5" ry="5" x="0" y="0" width="166" height="32">
					</rect>
				</svg>
			</div>
			<div id="contact-city-group">
				<div id="contact-city">
					<span>City</span>
				</div>
				<svg class="conatct-city-box">
					<rect id="conatct-city-box" rx="5" ry="5" x="0" y="0" width="166" height="32">
					</rect>
				</svg>
			</div>
			<div id="contact-contact-number-group">
				<div id="contact-contact-number">
					<span>Contact Number</span>
				</div>
				<svg class="contact-contact-number-box">
					<rect id="contact-contact-number-box" rx="5" ry="5" x="0" y="0" width="166" height="32">
					</rect>
				</svg>
			</div>
			<div id="disclaimer">
				<span>*This information is only visible to you. No one else can access these information.</span>
			</div>
		</div>
		<div id="My_Account">
			<span>My Account</span>
		</div>
		<<button type="button"  class="edit-btn" name="button">Edit</button>
    <button type="button" class="cancel-btn" name="button">Cancel</button>
	</div>
	<div id="user-info-right-group">
		<svg class="user-profile-white-right-box">
			<rect id="user-profile-white-right-box" rx="10" ry="10" x="0" y="0" width="312" height="587">
			</rect>
		</svg>
		<div id="user-profile-posts-group">
			<div id="user-info-total-posts">
				<span>22</span>
			</div>
			<div id="user-profile-posts-text">
				<span>Posts</span>
			</div>
		</div>
		<div id="user-profile-blogs-group">
			<div id="user-info-total-blogs">
				<span>22</span>
			</div>
			<div id="user-profile-blogs-text">
				<span>blogs</span>
			</div>
		</div>
		<div id="User-profile-username">
			<span>Jessica Blaire</span>
		</div>
		<div id="delete-account">
			<span>Delete Account</span>
		</div>
		<div id="change-password">
			<span>Change Password </span>
		</div>
		<div id="report-issue">
			<span>Report an Issue</span>
		</div>
		<div id="Female">
			<span>Female</span>
		</div>
		<img id="user-image-circle" src="img/user-image-circle.png">
	</div>
</div>


<%- include('partials/footer') %>
